n8n/stellenist-sync-nodes.json
{
  "meta": {
    "instanceId": "stellenist-sync-snippet",
    "templateCredsSetupCompleted": true
  },
  "notes": "Diese 3 Nodes in Workflow #221 einfuegen (nach 'Daten fuer DB vorbereiten'). Voraussetzung: n8n-Variablen STELLENIST_API_URL und STELLENIST_API_KEY muessen gesetzt sein.",
  "nodes": [
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Daten fuer Stellenist aufbereiten\n// Transformiert Untis-Daten in das API-Format fuer POST /api/deputate/sync\n\nconst CONFIG = {\n  apiKey: $vars.STELLENIST_API_KEY ?? '',\n  debugMode: false,\n  maxLehrerProCall: 500,\n};\n\ntry {\n  const inputItems = $input.all();\n  if (inputItems.length === 0) {\n    return [{ json: { error: 'Keine Daten vom MSSQL-Query erhalten.', skip: true } }];\n  }\n\n  const firstItem = inputItems[0].json;\n  const termId = firstItem.TERM_ID ?? null;\n  const schuljahrText = firstItem.Schuljahr_Text ?? null;\n  const dateFrom = firstItem.DateFrom ?? null;\n  const dateTo = firstItem.DateTo ?? null;\n\n  const lehrerArray = [];\n\n  for (const item of inputItems) {\n    const d = item.json;\n    if (!d.TEACHER_ID || !d.Name || !d.Vollname) continue;\n\n    lehrerArray.push({\n      teacher_id: parseInt(d.TEACHER_ID, 10),\n      name: String(d.Name).substring(0, 50),\n      vollname: String(d.Vollname).substring(0, 200),\n      personalnummer: d.PNumber ? String(d.PNumber).substring(0, 20) : null,\n      stammschule: String(d.OwnSchool ?? '').substring(0, 10),\n      deputat: Math.round((parseFloat(d.Deputat) || 0) * 1000) / 1000,\n      deputat_ges: Math.round((parseFloat(d.Deputat_GES) || 0) * 1000) / 1000,\n      deputat_gym: Math.round((parseFloat(d.Deputat_GYM) || 0) * 1000) / 1000,\n      deputat_bk: Math.round((parseFloat(d.Deputat_BK) || 0) * 1000) / 1000,\n    });\n  }\n\n  if (lehrerArray.length === 0) {\n    return [{ json: { error: 'Keine gueltigen Lehrer nach Transformation.', skip: true } }];\n  }\n\n  return [{\n    json: {\n      api_key: CONFIG.apiKey,\n      sync_datum: new Date().toISOString().split('T')[0],\n      schuljahr_text: schuljahrText,\n      term_id: termId ? parseInt(termId, 10) : undefined,\n      date_from: dateFrom ?? undefined,\n      date_to: dateTo ?? undefined,\n      lehrer: lehrerArray.slice(0, CONFIG.maxLehrerProCall),\n    },\n  }];\n} catch (error) {\n  return [{ json: { error: `Transformation fehlgeschlagen: ${error.message}`, skip: true } }];\n}"
      },
      "id": "stellenist-transform",
      "name": "Daten fuer Stellenist aufbereiten",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 500],
      "notesInFlow": true,
      "notes": "Transformiert Untis-Daten in das Format fuer die Stellenist-API"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.STELLENIST_API_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($input.first().json) }}",
        "options": {
          "timeout": 30000,
          "retry": {
            "enabled": true,
            "maxRetries": 2,
            "waitBetweenRetries": 3000
          }
        }
      },
      "id": "stellenist-http-request",
      "name": "Sync an Stellenist-App",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1420, 500],
      "continueOnFail": true,
      "notesInFlow": true,
      "notes": "POST /api/deputate/sync — sendet Lehrer-Deputate an die Stellenist-App"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "sync-success-check",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "stellenist-check-success",
      "name": "Sync erfolgreich?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1640, 500],
      "notesInFlow": true,
      "notes": "Prueft ob die Stellenist-API 'success: true' zurueckgegeben hat"
    }
  ],
  "connections": {
    "Daten fuer Stellenist aufbereiten": {
      "main": [
        [
          {
            "node": "Sync an Stellenist-App",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sync an Stellenist-App": {
      "main": [
        [
          {
            "node": "Sync erfolgreich?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
