03_n8n/#221 Personal_ Untis Deputat Übersicht.json
{
  "name": "#221 Personal: Untis Deputat Übersicht",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "id": "e967b36b-1d7d-45b9-8ef8-edd68440dccc",
      "name": "Täglich 7:00 Uhr",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -960,
        -96
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- ========================================================================\n-- ERWEITERTE ABFRAGE MIT TERM-ZEITRAUM (DateFrom / DateTo)\n-- ========================================================================\n-- Datum: 04.02.2026\n-- FIX 27.02.2026: PATINDEX statt CHARINDEX(';') für PlannedPerDept-Parsing\n-- Problem: '1~24500,,,' → Kommas brachen TRY_CAST. PATINDEX stoppt bei erstem Nicht-Ziffern-Zeichen.\n-- NEU: Joinen der Terms-Tabelle für Gültigkeitszeitraum der Periode\n-- ========================================================================\n\nWITH AktuellesPeriode AS (\n    SELECT \n        SCHOOLYEAR_ID,\n        TERM_ID,\n        DateFrom,\n        DateTo,\n        Name AS Term_Name\n    FROM Terms\n    WHERE \n        Deleted = 0\n        AND SCHOOLYEAR_ID = (SELECT MAX(SCHOOLYEAR_ID) FROM Teacher WHERE Deleted = 0)\n        AND TERM_ID = (SELECT MAX(TERM_ID) FROM Teacher WHERE Deleted = 0 AND SCHOOLYEAR_ID = (\n            SELECT MAX(SCHOOLYEAR_ID) FROM Teacher WHERE Deleted = 0\n        ))\n),\nNaechstePeriode AS (\n    SELECT \n        ap.SCHOOLYEAR_ID,\n        ap.TERM_ID,\n        MIN(t2.DateFrom) AS NextDateFrom\n    FROM AktuellesPeriode ap\n    LEFT JOIN Terms t2 ON t2.SCHOOLYEAR_ID = ap.SCHOOLYEAR_ID \n        AND t2.DateFrom > ap.DateFrom\n        AND t2.Deleted = 0\n    GROUP BY ap.SCHOOLYEAR_ID, ap.TERM_ID\n)\nSELECT \n    t.TEACHER_ID,\n    t.SCHOOLYEAR_ID,\n    t.TERM_ID,\n    t.Name,\n    t.PNumber AS Personalnummer,\n    t.OwnSchool AS Stammschule,\n    CONCAT(t.Longname, ' ', t.FirstName) AS Vollname,\n    ISNULL(TRY_CAST(t.PlannedWeek AS DECIMAL(10,2)), 0) / 1000.0 AS Deputat,\n    CONCAT(\n        RIGHT('0000' + CAST(t.SCHOOLYEAR_ID / 10000 AS VARCHAR), 4), \n        '/', \n        RIGHT('0000' + CAST(t.SCHOOLYEAR_ID % 10000 AS VARCHAR), 4)\n    ) AS Schuljahr_Text,\n    -- ========================================================================\n    -- NEU: Zeitraum-Felder aus Terms-Tabelle\n    -- ========================================================================\n    ap.Term_Name,\n    -- DateFrom als deutsches Datum (TT.MM.JJJJ)\n    CONVERT(VARCHAR(10), DATEFROMPARTS(\n        ap.DateFrom / 10000, \n        (ap.DateFrom / 100) % 100, \n        ap.DateFrom % 100\n    ), 104) AS DateFrom_Formatted,\n    -- DateTo: Einen Tag vor der nächsten Periode (oder Original-DateTo wenn letzte Periode)\n    CONVERT(VARCHAR(10), DATEADD(DAY, -1, \n        CASE \n            WHEN np.NextDateFrom IS NOT NULL THEN \n                DATEFROMPARTS(np.NextDateFrom / 10000, (np.NextDateFrom / 100) % 100, np.NextDateFrom % 100)\n            ELSE \n                DATEFROMPARTS(ap.DateTo / 10000, (ap.DateTo / 100) % 100, ap.DateTo % 100)\n        END\n    ), 104) AS DateTo_Formatted,\n    -- Kombinierter Zeitraum-String\n    CONCAT(\n        'Periode ', t.TERM_ID, ' | ',\n        CONVERT(VARCHAR(10), DATEFROMPARTS(ap.DateFrom / 10000, (ap.DateFrom / 100) % 100, ap.DateFrom % 100), 104),\n        ' - ',\n        CONVERT(VARCHAR(10), DATEADD(DAY, -1, \n            CASE \n                WHEN np.NextDateFrom IS NOT NULL THEN \n                    DATEFROMPARTS(np.NextDateFrom / 10000, (np.NextDateFrom / 100) % 100, np.NextDateFrom % 100)\n                ELSE \n                    DATEFROMPARTS(ap.DateTo / 10000, (ap.DateTo / 100) % 100, ap.DateTo % 100)\n            END\n        ), 104)\n    ) AS Term_Zeitraum,\n    -- ========================================================================\n    -- Deputats-Aufteilung nach Schulform\n    -- ========================================================================\n    CASE \n        WHEN CHARINDEX('1~', t.PlannedPerDept) > 0 THEN\n            ISNULL(\n                TRY_CAST(\n                    LEFT(\n                        SUBSTRING(t.PlannedPerDept, CHARINDEX('1~', t.PlannedPerDept) + 2, 20),\n                        CASE \n                            WHEN PATINDEX('%[^0-9]%', SUBSTRING(t.PlannedPerDept, CHARINDEX('1~', t.PlannedPerDept) + 2, 20)) > 0 \n                            THEN PATINDEX('%[^0-9]%', SUBSTRING(t.PlannedPerDept, CHARINDEX('1~', t.PlannedPerDept) + 2, 20)) - 1\n                            ELSE LEN(SUBSTRING(t.PlannedPerDept, CHARINDEX('1~', t.PlannedPerDept) + 2, 20))\n                        END\n                    ) AS DECIMAL(10,2)\n                ), 0\n            ) / 1000.0\n        ELSE 0\n    END AS Deputat_GES,\n    CASE \n        WHEN CHARINDEX('2~', t.PlannedPerDept) > 0 THEN\n            ISNULL(\n                TRY_CAST(\n                    LEFT(\n                        SUBSTRING(t.PlannedPerDept, CHARINDEX('2~', t.PlannedPerDept) + 2, 20),\n                        CASE \n                            WHEN PATINDEX('%[^0-9]%', SUBSTRING(t.PlannedPerDept, CHARINDEX('2~', t.PlannedPerDept) + 2, 20)) > 0 \n                            THEN PATINDEX('%[^0-9]%', SUBSTRING(t.PlannedPerDept, CHARINDEX('2~', t.PlannedPerDept) + 2, 20)) - 1\n                            ELSE LEN(SUBSTRING(t.PlannedPerDept, CHARINDEX('2~', t.PlannedPerDept) + 2, 20))\n                        END\n                    ) AS DECIMAL(10,2)\n                ), 0\n            ) / 1000.0\n        ELSE 0\n    END AS Deputat_GYM,\n    CASE \n        WHEN CHARINDEX('3~', t.PlannedPerDept) > 0 THEN\n            ISNULL(\n                TRY_CAST(\n                    LEFT(\n                        SUBSTRING(t.PlannedPerDept, CHARINDEX('3~', t.PlannedPerDept) + 2, 20),\n                        CASE \n                            WHEN PATINDEX('%[^0-9]%', SUBSTRING(t.PlannedPerDept, CHARINDEX('3~', t.PlannedPerDept) + 2, 20)) > 0 \n                            THEN PATINDEX('%[^0-9]%', SUBSTRING(t.PlannedPerDept, CHARINDEX('3~', t.PlannedPerDept) + 2, 20)) - 1\n                            ELSE LEN(SUBSTRING(t.PlannedPerDept, CHARINDEX('3~', t.PlannedPerDept) + 2, 20))\n                        END\n                    ) AS DECIMAL(10,2)\n                ), 0\n            ) / 1000.0\n        ELSE 0\n    END AS Deputat_BK\nFROM Teacher t\nCROSS JOIN AktuellesPeriode ap\nLEFT JOIN NaechstePeriode np ON ap.SCHOOLYEAR_ID = np.SCHOOLYEAR_ID AND ap.TERM_ID = np.TERM_ID\nWHERE \n    t.Deleted = 0 \n    AND t.Longname IS NOT NULL \n    AND t.Longname != ''\n    AND t.SCHOOLYEAR_ID = ap.SCHOOLYEAR_ID\n    AND t.TERM_ID = ap.TERM_ID\nORDER BY \n    t.Longname, \n    t.FirstName;"
      },
      "id": "46c5230c-0c46-4f67-842c-dc274ec42fe3",
      "name": "Untis Daten laden",
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1,
      "position": [
        -688,
        -96
      ],
      "credentials": {
        "microsoftSql": {
          "id": "HzjHGkJk19cln1C7",
          "name": "Untis"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  teacher_id,\n  schoolyear_id,\n  term_id,\n  name,\n  personalnummer,\n  stammschule,\n  vollname,\n  deputat,\n  deputat_ges,\n  deputat_gym,\n  deputat_bk,\n  schuljahr_text\nFROM deputat_snapshot\nWHERE snapshot_datum = (\n  SELECT MAX(snapshot_datum) \n  FROM deputat_snapshot\n)\nORDER BY vollname;",
        "options": {}
      },
      "id": "413a85a7-30d6-459c-b462-a323e45c6d60",
      "name": "Letzter Snapshot laden",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -704,
        208
      ],
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "jO46ywmgdxPpgZfG",
          "name": "deputat_änderung"
        }
      }
    },
    {
      "parameters": {},
      "id": "04c7b65d-c99b-4793-b0d0-fcf3a4e797d0",
      "name": "Daten zusammenführen",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -432,
        -16
      ],
      "notes": "APPEND Mode: Fügt alle Items aus beiden Inputs zusammen"
    },
    {
      "parameters": {
        "jsCode": "// ========================================================================\n// ERWEITERTE VERGLEICHSLOGIK MIT DEPUTATS-TYP-TRACKING UND TERM-ZEITRAUM\n// ========================================================================\n// Datum: 04.02.2026\n// NEU: Term-Zeitraum (TERM_ID, DateFrom, DateTo) für E-Mail-Anzeige\n// Features:\n// - Erkennung welches Deputat sich geändert hat (GES/GYM/BK)\n// - OwnSchool und PNumber integriert\n// - Detaillierte Change-Historie für jede Deputats-Art\n// - NEU: Gültigkeitszeitraum der Periode\n// ========================================================================\n\n// Mit APPEND Mode kommen ALLE Items in einem Datenstrom\n// Wir trennen sie anhand der Feldnamen (UPPERCASE = Untis, lowercase = Snapshot)\n\nconst allItems = $input.all();\n\n// Items nach Quelle trennen\nconst untisItems = [];\nconst snapshotItems = [];\n\nallItems.forEach(item => {\n  // Untis-Daten haben UPPERCASE Feldnamen\n  if (item.json.TEACHER_ID !== undefined) {\n    untisItems.push(item.json);\n  } \n  // Snapshot-Daten haben lowercase Feldnamen\n  else if (item.json.teacher_id !== undefined) {\n    snapshotItems.push(item.json);\n  }\n});\n\n// ========================================================================\n// NEU: TERM-ZEITRAUM EXTRAHIEREN (aus erstem Untis-Item)\n// ========================================================================\nlet termInfo = {\n  termId: null,\n  termName: null,\n  dateFrom: null,\n  dateTo: null,\n  termZeitraum: null,\n  schuljahrText: null\n};\n\nif (untisItems.length > 0) {\n  const firstItem = untisItems[0];\n  termInfo = {\n    termId: firstItem.TERM_ID,\n    termName: firstItem.Term_Name || null,\n    dateFrom: firstItem.DateFrom_Formatted || null,\n    dateTo: firstItem.DateTo_Formatted || null,\n    termZeitraum: firstItem.Term_Zeitraum || null,\n    schuljahrText: firstItem.Schuljahr_Text\n  };\n}\n\n// Map für schnellen Zugriff auf Snapshot-Daten\nconst snapshotMap = new Map();\nsnapshotItems.forEach(item => {\n  const key = `${item.teacher_id}_${item.schoolyear_id}_${item.term_id}`;\n  snapshotMap.set(key, item);\n});\n\n// ========================================================================\n// HELPER FUNKTION: Deputats-Änderungen identifizieren\n// ========================================================================\nfunction identifiziereDeputatsAenderungen(gesAlt, gesNeu, gymAlt, gymNeu, bkAlt, bkNeu) {\n  const aenderungen = [];\n  \n  const gesChange = parseFloat(gesNeu) - parseFloat(gesAlt);\n  const gymChange = parseFloat(gymNeu) - parseFloat(gymAlt);\n  const bkChange = parseFloat(bkNeu) - parseFloat(bkAlt);\n  \n  if (Math.abs(gesChange) > 0.001) {\n    aenderungen.push({\n      typ: 'GES',\n      label: 'Gesamtschule',\n      alt: parseFloat(gesAlt),\n      neu: parseFloat(gesNeu),\n      diff: gesChange,\n      farbe: '#6BAA24'  // Grün (CREDO CD)\n    });\n  }\n  \n  if (Math.abs(gymChange) > 0.001) {\n    aenderungen.push({\n      typ: 'GYM',\n      label: 'Gymnasium',\n      alt: parseFloat(gymAlt),\n      neu: parseFloat(gymNeu),\n      diff: gymChange,\n      farbe: '#FBC800'  // Gelb (CREDO CD)\n    });\n  }\n  \n  if (Math.abs(bkChange) > 0.001) {\n    aenderungen.push({\n      typ: 'BK',\n      label: 'Berufskolleg',\n      alt: parseFloat(bkAlt),\n      neu: parseFloat(bkNeu),\n      diff: bkChange,\n      farbe: '#009ADE'  // Blau (CREDO CD)\n    });\n  }\n  \n  return aenderungen;\n}\n\n// ========================================================================\n// HAUPTVERGLEICH\n// ========================================================================\nconst aenderungen = [];\nconst alleDaten = [];\n\nuntisItems.forEach(data => {\n  const key = `${data.TEACHER_ID}_${data.SCHOOLYEAR_ID}_${data.TERM_ID}`;\n  const snapshot = snapshotMap.get(key);\n  \n  // ========================================================================\n  // Für Snapshot speichern (mit neuen Feldern)\n  // ========================================================================\n  alleDaten.push({\n    teacher_id: data.TEACHER_ID,\n    schoolyear_id: data.SCHOOLYEAR_ID,\n    term_id: data.TERM_ID,\n    name: data.Name,\n    personalnummer: data.Personalnummer || null,\n    stammschule: data.Stammschule || null,\n    vollname: data.Vollname,\n    deputat: data.Deputat,\n    deputat_ges: data.Deputat_GES,\n    deputat_gym: data.Deputat_GYM,\n    deputat_bk: data.Deputat_BK,\n    schuljahr_text: data.Schuljahr_Text\n  });\n  \n  // ========================================================================\n  // VERGLEICH DURCHFÜHREN\n  // ========================================================================\n  if (snapshot) {\n    const deputatAlt = parseFloat(snapshot.deputat) || 0;\n    const deputatNeu = parseFloat(data.Deputat) || 0;\n    const gesAlt = parseFloat(snapshot.deputat_ges) || 0;\n    const gesNeu = parseFloat(data.Deputat_GES) || 0;\n    const gymAlt = parseFloat(snapshot.deputat_gym) || 0;\n    const gymNeu = parseFloat(data.Deputat_GYM) || 0;\n    const bkAlt = parseFloat(snapshot.deputat_bk) || 0;\n    const bkNeu = parseFloat(data.Deputat_BK) || 0;\n    \n    // Prüfe ob sich IRGENDETWAS geändert hat\n    if (deputatAlt !== deputatNeu || gesAlt !== gesNeu || gymAlt !== gymNeu || bkAlt !== bkNeu) {\n      \n      // Identifiziere welche Deputate sich geändert haben\n      const deputatsAenderungen = identifiziereDeputatsAenderungen(\n        gesAlt, gesNeu, gymAlt, gymNeu, bkAlt, bkNeu\n      );\n      \n      aenderungen.push({\n        vollname: data.Vollname,\n        name: data.Name,\n        personalnummer: data.Personalnummer || 'N/A',\n        stammschule: data.Stammschule || 'N/A',\n        schuljahr: data.Schuljahr_Text,\n        deputat_alt: deputatAlt,\n        deputat_neu: deputatNeu,\n        deputat_diff: (deputatNeu - deputatAlt).toFixed(2),\n        ges_alt: gesAlt,\n        ges_neu: gesNeu,\n        gym_alt: gymAlt,\n        gym_neu: gymNeu,\n        bk_alt: bkAlt,\n        bk_neu: bkNeu,\n        deputatsAenderungen: deputatsAenderungen,\n        typ: 'GEÄNDERT'\n      });\n    }\n  } else {\n    // NEUER Lehrer\n    const deputatsAenderungen = identifiziereDeputatsAenderungen(\n      0, parseFloat(data.Deputat_GES) || 0,\n      0, parseFloat(data.Deputat_GYM) || 0,\n      0, parseFloat(data.Deputat_BK) || 0\n    );\n    \n    aenderungen.push({\n      vollname: data.Vollname,\n      name: data.Name,\n      personalnummer: data.Personalnummer || 'N/A',\n      stammschule: data.Stammschule || 'N/A',\n      schuljahr: data.Schuljahr_Text,\n      deputat_alt: 0,\n      deputat_neu: parseFloat(data.Deputat) || 0,\n      deputat_diff: parseFloat(data.Deputat) || 0,\n      ges_alt: 0,\n      ges_neu: parseFloat(data.Deputat_GES) || 0,\n      gym_alt: 0,\n      gym_neu: parseFloat(data.Deputat_GYM) || 0,\n      bk_alt: 0,\n      bk_neu: parseFloat(data.Deputat_BK) || 0,\n      deputatsAenderungen: deputatsAenderungen,\n      typ: 'NEU'\n    });\n  }\n});\n\n// ========================================================================\n// ÜBERLAST / UNTERLAST STATISTIK\n// ========================================================================\nlet ueberlastCount = 0;\nlet unterlastCount = 0;\n\naenderungen.forEach(a => {\n  const diff = parseFloat(a.deputat_diff);\n  if (diff > 0.5) ueberlastCount++;\n  if (diff < -0.5) unterlastCount++;\n});\n\n// ========================================================================\n// RÜCKGABE (MIT TERM-INFO)\n// ========================================================================\nreturn {\n  hatAenderungen: aenderungen.length > 0,\n  anzahlAenderungen: aenderungen.length,\n  aenderungen: aenderungen,\n  alleDaten: alleDaten,\n  datum: new Date().toISOString().split('T')[0],\n  // NEU: Term-Zeitraum Informationen\n  termInfo: termInfo,\n  // Statistik\n  statistik: {\n    ueberlast: ueberlastCount,\n    unterlast: unterlastCount,\n    gesamt: aenderungen.length\n  }\n};\n"
      },
      "id": "3787072c-d714-4350-820e-279738f376ae",
      "name": "Vergleich durchführen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        -16
      ],
      "notes": "Erweiterte Vergleichslogik mit Deputats-Typ-Tracking und Term-Zeitraum"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition_aenderungen",
              "leftValue": "={{ $json.hatAenderungen }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7e02b251-0670-4201-bdef-b428b5614b04",
      "name": "Änderungen vorhanden?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        80,
        -16
      ]
    },
    {
      "parameters": {
        "jsCode": "// ========================================================================\n// OUTLOOK-KOMPATIBLE E-MAIL-VORLAGE MIT TERM-ZEITRAUM\n// ========================================================================\n// Datum: 04.02.2026\n// FIXES:\n// - VML-Fallback für Outlook (linear-gradient funktioniert nicht!)\n// - Keine rgba() oder opacity (Outlook-inkompatibel)\n// - Deutsches Datumsformat\n// - Begrüßung: \"Hallo liebes Team der Personalabteilung,\"\n// - Meta charset UTF-8 hinzugefügt\n// - HTML-Entities für Umlaute\n// ========================================================================\n\n// Daten aus dem vorherigen Node holen\nconst inputData = $('Vergleich durchführen').first().json;\nconst aenderungen = inputData.aenderungen || [];\nconst termInfo = inputData.termInfo || {};\nconst statistik = inputData.statistik || { ueberlast: 0, unterlast: 0, gesamt: 0 };\n\n// ========================================================================\n// DEUTSCHES DATUMSFORMAT\n// ========================================================================\nconst heute = new Date();\nconst datumFormatiert = heute.toLocaleDateString('de-DE', {\n  day: '2-digit',\n  month: '2-digit',\n  year: 'numeric'\n});\n\n// ========================================================================\n// TERM-ZEITRAUM INFORMATION\n// ========================================================================\nconst termId = termInfo.termId || 'N/A';\nconst termZeitraum = termInfo.termZeitraum || 'Zeitraum nicht verfügbar';\nconst dateFrom = termInfo.dateFrom || 'N/A';\nconst dateTo = termInfo.dateTo || 'N/A';\nconst schuljahrText = termInfo.schuljahrText || 'N/A';\n\n// ========================================================================\n// FIX 27.02.2026: GRUPPIERUNG NACH STAMMSCHULE-STRING (GYM/GES/BK)\n// OwnSchool liefert Strings ('GYM','GES','BK'), nicht numerische IDs\n// ========================================================================\nconst SCHULFORM_CONFIG = {\n  'GYM': { label: 'Gymnasium', farbe: '#FBC900', reihenfolge: 1 },\n  'GES': { label: 'Gesamtschule', farbe: '#6BAA24', reihenfolge: 2 },\n  'BK':  { label: 'Berufskolleg', farbe: '#5C82A5', reihenfolge: 3 }\n};\n\n// Sortierung: nach Schulform-Reihenfolge, dann alphabetisch\nconst aenderungenSortiert = [...aenderungen].sort((a, b) => {\n  const aOrder = (SCHULFORM_CONFIG[String(a.stammschule).toUpperCase()] || {}).reihenfolge || 99;\n  const bOrder = (SCHULFORM_CONFIG[String(b.stammschule).toUpperCase()] || {}).reihenfolge || 99;\n  \n  if (aOrder !== bOrder) return aOrder - bOrder;\n  return a.vollname.localeCompare(b.vollname);\n});\n\n// Dynamische Gruppierung nach allen vorhandenen Stammschulen\nconst gruppiert = {};\naenderungenSortiert.forEach(a => {\n  const key = String(a.stammschule || 'UNBEKANNT').toUpperCase();\n  if (!gruppiert[key]) gruppiert[key] = [];\n  gruppiert[key].push(a);\n});\n\n// ========================================================================\n// CREDO CORPORATE DESIGN KONFIGURATION\n// ========================================================================\nconst CD = {\n  colors: {\n    darkGrey: '#575756',\n    lightGrey: '#F2F2F2',\n    white: '#FFFFFF',\n    text: '#333333',\n    ges: '#6BAA24',\n    gym: '#FBC900',\n    bk: '#5C82A5',\n    red: '#E2001A',\n    success: '#6BAA24',\n    error: '#E2001A',\n    neutral: '#575756'\n  }\n};\n\n// ========================================================================\n// HELPER FUNKTIONEN\n// ========================================================================\nfunction generiereDeputatZelle(wert, farbe) {\n  if (!wert || wert === 0 || wert === '0') {\n    return '<span style=\"color: #cccccc; font-size: 12px;\">&mdash;</span>';\n  }\n  const wertNum = parseFloat(wert);\n  return `\n    <table border=\"0\" cellspacing=\"0\" cellpadding=\"0\" style=\"display: inline-block;\">\n      <tr>\n        <td style=\"background-color: ${farbe}; color: #FFFFFF; padding: 5px 10px; border-radius: 4px; font-size: 13px; font-weight: 700; text-align: center; min-width: 45px;\">\n          ${wertNum.toFixed(2)}\n        </td>\n      </tr>\n    </table>\n  `;\n}\n\nfunction generiereDeputatsDetails(row) {\n  const details = [];\n  \n  if (row.ges_neu > 0 || row.ges_alt > 0) {\n    const gesDiff = (row.ges_neu - row.ges_alt).toFixed(2);\n    const gesPrefix = parseFloat(gesDiff) > 0 ? '+' : '';\n    const gesColor = parseFloat(gesDiff) >= 0 ? CD.colors.success : CD.colors.error;\n    details.push(`\n      <div style=\"margin: 2px 0; font-size: 11px; line-height: 1.4;\">\n        <span style=\"color: ${CD.colors.ges}; font-weight: 700;\">&#9632;</span>\n        <strong>GES:</strong> ${row.ges_alt} &rarr; ${row.ges_neu} \n        <span style=\"color: ${gesColor};\">(${gesPrefix}${gesDiff})</span>\n      </div>\n    `);\n  }\n  \n  if (row.gym_neu > 0 || row.gym_alt > 0) {\n    const gymDiff = (row.gym_neu - row.gym_alt).toFixed(2);\n    const gymPrefix = parseFloat(gymDiff) > 0 ? '+' : '';\n    const gymColor = parseFloat(gymDiff) >= 0 ? CD.colors.success : CD.colors.error;\n    details.push(`\n      <div style=\"margin: 2px 0; font-size: 11px; line-height: 1.4;\">\n        <span style=\"color: ${CD.colors.gym}; font-weight: 700;\">&#9632;</span>\n        <strong>GYM:</strong> ${row.gym_alt} &rarr; ${row.gym_neu} \n        <span style=\"color: ${gymColor};\">(${gymPrefix}${gymDiff})</span>\n      </div>\n    `);\n  }\n  \n  if (row.bk_neu > 0 || row.bk_alt > 0) {\n    const bkDiff = (row.bk_neu - row.bk_alt).toFixed(2);\n    const bkPrefix = parseFloat(bkDiff) > 0 ? '+' : '';\n    const bkColor = parseFloat(bkDiff) >= 0 ? CD.colors.success : CD.colors.error;\n    details.push(`\n      <div style=\"margin: 2px 0; font-size: 11px; line-height: 1.4;\">\n        <span style=\"color: ${CD.colors.bk}; font-weight: 700;\">&#9632;</span>\n        <strong>BK:</strong> ${row.bk_alt} &rarr; ${row.bk_neu} \n        <span style=\"color: ${bkColor};\">(${bkPrefix}${bkDiff})</span>\n      </div>\n    `);\n  }\n  \n  return details.length > 0 ? details.join('') : '<span style=\"color: #999999; font-size: 11px;\">Keine Details</span>';\n}\n\nfunction generiereGruppenHeader(titel, farbe, anzahl) {\n  return `\n    <tr>\n      <td colspan=\"10\" style=\"padding: 20px 15px 10px 15px; background-color: ${CD.colors.lightGrey}; border-top: 3px solid ${farbe};\">\n        <table border=\"0\" cellspacing=\"0\" cellpadding=\"0\">\n          <tr>\n            <td style=\"font-size: 14px; font-weight: 700; color: ${farbe}; text-transform: uppercase; letter-spacing: 1.5px; font-family: Calibri, Arial, sans-serif;\">\n              ${titel}\n            </td>\n            <td style=\"padding-left: 10px;\">\n              <table border=\"0\" cellspacing=\"0\" cellpadding=\"0\">\n                <tr>\n                  <td style=\"background-color: ${farbe}; color: #FFFFFF; padding: 3px 8px; border-radius: 10px; font-size: 11px; font-weight: 700; font-family: Calibri, Arial, sans-serif;\">\n                    ${anzahl}\n                  </td>\n                </tr>\n              </table>\n            </td>\n          </tr>\n        </table>\n      </td>\n    </tr>\n  `;\n}\n\nfunction generiereZeile(row, index) {\n  const diff = parseFloat(row.deputat_diff);\n  let diffColor = CD.colors.neutral;\n  let diffPrefix = '';\n  \n  if (diff > 0) {\n    diffColor = CD.colors.success;\n    diffPrefix = '+';\n  } else if (diff < 0) {\n    diffColor = CD.colors.error;\n  }\n\n  const bgStyle = index % 2 === 0 ? CD.colors.white : '#FAFAFA';\n  const badgeColor = row.typ === 'NEU' ? CD.colors.success : CD.colors.gym;\n  const badgeTextColor = row.typ === 'NEU' ? '#FFFFFF' : '#333333';\n  \n  const stammschuleKey = String(row.stammschule || 'N/A').toUpperCase();\n  const stammschuleLabel = (SCHULFORM_CONFIG[stammschuleKey] || {}).label || stammschuleKey;\n\n  return `\n    <tr style=\"background-color: ${bgStyle};\">\n      <td style=\"padding: 12px 15px; border-bottom: 1px solid #eeeeee; font-size: 14px; color: ${CD.colors.text}; font-weight: 600; vertical-align: top; font-family: Calibri, Arial, sans-serif;\">\n        ${row.vollname}\n        <div style=\"font-size: 11px; color: #999999; font-weight: 400; margin-top: 3px;\">\n          PN: ${row.personalnummer} | Stammschule: ${stammschuleLabel}\n        </div>\n      </td>\n      <td style=\"padding: 12px 15px; border-bottom: 1px solid #eeeeee; font-size: 14px; color: #666666; text-align: center; vertical-align: top; font-family: Calibri, Arial, sans-serif;\">${row.name}</td>\n      <td style=\"padding: 12px 15px; border-bottom: 1px solid #eeeeee; font-size: 14px; color: #666666; text-align: center; vertical-align: top; font-family: Calibri, Arial, sans-serif;\">${row.deputat_alt}</td>\n      <td style=\"padding: 12px 15px; border-bottom: 1px solid #eeeeee; font-size: 14px; color: ${CD.colors.text}; font-weight: 700; text-align: center; vertical-align: top; font-family: Calibri, Arial, sans-serif;\">${row.deputat_neu}</td>\n      <td style=\"padding: 12px 15px; border-bottom: 1px solid #eeeeee; font-size: 14px; color: ${diffColor}; font-weight: 700; text-align: center; vertical-align: top; font-family: Calibri, Arial, sans-serif;\">${diffPrefix}${diff}</td>\n      <td style=\"padding: 8px 10px; border-bottom: 1px solid #eeeeee; text-align: center; vertical-align: middle;\">${generiereDeputatZelle(row.ges_neu, CD.colors.ges)}</td>\n      <td style=\"padding: 8px 10px; border-bottom: 1px solid #eeeeee; text-align: center; vertical-align: middle;\">${generiereDeputatZelle(row.gym_neu, CD.colors.gym)}</td>\n      <td style=\"padding: 8px 10px; border-bottom: 1px solid #eeeeee; text-align: center; vertical-align: middle;\">${generiereDeputatZelle(row.bk_neu, CD.colors.bk)}</td>\n      <td style=\"padding: 12px 15px; border-bottom: 1px solid #eeeeee; vertical-align: top; font-family: Calibri, Arial, sans-serif;\">${generiereDeputatsDetails(row)}</td>\n      <td style=\"padding: 12px 15px; border-bottom: 1px solid #eeeeee; text-align: right; vertical-align: top;\">\n        <table border=\"0\" cellspacing=\"0\" cellpadding=\"0\" style=\"display: inline-block;\">\n          <tr>\n            <td style=\"background-color: ${badgeColor}; color: ${badgeTextColor}; padding: 4px 10px; border-radius: 12px; font-size: 11px; font-weight: 700; text-transform: uppercase; letter-spacing: 0.5px; font-family: Calibri, Arial, sans-serif;\">\n              ${row.typ}\n            </td>\n          </tr>\n        </table>\n      </td>\n    </tr>\n  `;\n}\n\n// ========================================================================\n// TABELLEN-ZEILEN GENERIEREN\n// ========================================================================\nlet tableRows = '';\n\n// Dynamisch alle Stammschul-Gruppen rendern (sortiert nach Reihenfolge)\nconst gruppenKeys = Object.keys(gruppiert).sort((a, b) => {\n  const aOrder = (SCHULFORM_CONFIG[a] || {}).reihenfolge || 99;\n  const bOrder = (SCHULFORM_CONFIG[b] || {}).reihenfolge || 99;\n  return aOrder - bOrder;\n});\n\ngruppenKeys.forEach(key => {\n  const config = SCHULFORM_CONFIG[key] || { label: key, farbe: CD.colors.darkGrey };\n  const gruppe = gruppiert[key];\n  tableRows += generiereGruppenHeader(config.label, config.farbe, gruppe.length);\n  gruppe.forEach((row, index) => {\n    tableRows += generiereZeile(row, index);\n  });\n});\n\n// ========================================================================\n// HTML E-MAIL TEMPLATE - OUTLOOK KOMPATIBEL\n// ========================================================================\nconst html = `\n<!DOCTYPE html>\n<html xmlns:v=\"urn:schemas-microsoft-com:vml\" xmlns:o=\"urn:schemas-microsoft-com:office:office\">\n<head>\n<meta charset=\"utf-8\">\n<meta http-equiv=\"Content-Type\" content=\"text/html; charset=utf-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n<!--[if mso]>\n<xml>\n  <o:OfficeDocumentSettings>\n    <o:AllowPNG/>\n    <o:PixelsPerInch>96</o:PixelsPerInch>\n  </o:OfficeDocumentSettings>\n</xml>\n<style type=\"text/css\">\nbody, table, td, p, a, span { font-family: Calibri, Arial, sans-serif !important; }\n</style>\n<![endif]-->\n<style>\n  body { margin: 0; padding: 0; background-color: #F2F2F2; font-family: Calibri, 'Segoe UI', Helvetica, Arial, sans-serif; -webkit-font-smoothing: antialiased; }\n  table { border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; }\n  td { border-collapse: collapse; }\n</style>\n</head>\n<body style=\"margin: 0; padding: 0; background-color: #F2F2F2;\">\n  <table width=\"100%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" style=\"background-color: #F2F2F2;\">\n    <tr>\n      <td align=\"center\" style=\"padding: 20px 0;\">\n        <table width=\"900\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" style=\"background-color: #FFFFFF; border-radius: 8px;\">\n\n    <!-- HEADER -->\n    <tr>\n      <td style=\"padding: 40px 40px 30px 40px; background-color: #575756;\">\n        <p style=\"color: #FFFFFF; font-size: 12px; text-transform: uppercase; letter-spacing: 2px; margin: 0 0 10px 0; font-family: Calibri, Arial, sans-serif;\">\n          CREDO Verwaltung &middot; Deputatsverwaltung\n        </p>\n        <p style=\"color: #FFFFFF; font-size: 24px; margin: 0; font-weight: 700; letter-spacing: 0.5px; font-family: Calibri, Arial, sans-serif;\">\n          Deputat-&Auml;nderungsmonitor\n        </p>\n        <p style=\"color: #FFFFFF; font-size: 14px; margin: 5px 0 0 0; font-family: Calibri, Arial, sans-serif;\">\n          Automatische Auswertung vom ${datumFormatiert}\n        </p>\n      </td>\n    </tr>\n\n    <!-- TERM-ZEITRAUM BOX - OUTLOOK KOMPATIBEL (SOLID COLOR!) -->\n    <tr>\n      <td style=\"padding: 0;\">\n        <!--[if mso]>\n        <v:rect xmlns:v=\"urn:schemas-microsoft-com:vml\" fill=\"true\" stroke=\"false\" style=\"width:900px;height:90px;\">\n          <v:fill type=\"gradient\" color=\"#FBC900\" color2=\"#FFA500\" angle=\"135\"/>\n          <v:textbox inset=\"0,0,0,0\">\n        <![endif]-->\n        <table width=\"100%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" style=\"background-color: #FBC900;\">\n          <tr>\n            <td style=\"padding: 25px 40px;\">\n              <table width=\"100%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\">\n                <tr>\n                  <td width=\"60%\" style=\"vertical-align: middle;\">\n                    <p style=\"color: #333333; font-size: 11px; text-transform: uppercase; letter-spacing: 2px; margin: 0 0 8px 0; font-family: Calibri, Arial, sans-serif;\">\n                      &#128197; G&uuml;ltigkeitszeitraum dieser &Auml;nderungen\n                    </p>\n                    <p style=\"color: #333333; font-size: 22px; font-weight: 700; margin: 0; letter-spacing: 0.5px; font-family: Calibri, Arial, sans-serif;\">\n                      ${termZeitraum}\n                    </p>\n                  </td>\n                  <td width=\"40%\" style=\"text-align: right; vertical-align: middle;\">\n                    <table border=\"0\" cellspacing=\"0\" cellpadding=\"0\" align=\"right\">\n                      <tr>\n                        <td style=\"background-color: #E5B400; padding: 10px 20px; border-radius: 8px;\">\n                          <p style=\"color: #333333; font-size: 11px; text-transform: uppercase; letter-spacing: 1px; margin: 0 0 5px 0; font-family: Calibri, Arial, sans-serif;\">\n                            Schuljahr\n                          </p>\n                          <p style=\"color: #333333; font-size: 18px; font-weight: 700; margin: 0; font-family: Calibri, Arial, sans-serif;\">\n                            ${schuljahrText}\n                          </p>\n                        </td>\n                      </tr>\n                    </table>\n                  </td>\n                </tr>\n              </table>\n            </td>\n          </tr>\n        </table>\n        <!--[if mso]>\n          </v:textbox>\n        </v:rect>\n        <![endif]-->\n      </td>\n    </tr>\n\n    <!-- EINLEITUNG -->\n    <tr>\n      <td style=\"padding: 30px 40px;\">\n        <p style=\"font-size: 16px; line-height: 1.6; color: #333333; margin: 0; font-family: Calibri, Arial, sans-serif;\">\n          Hallo liebes Team der Personalabteilung,<br><br>\n          es wurden <strong>${aenderungen.length} &Auml;nderungen</strong> an den Deputaten festgestellt. \n          Diese &Auml;nderungen gelten f&uuml;r <strong>Periode ${termId}</strong> \n          (vom <strong>${dateFrom}</strong> bis <strong>${dateTo}</strong>).\n          <br><br>\n          <strong style=\"color: ${CD.colors.gym};\">Gruppierung nach Stammschule: Gymnasium &rarr; Gesamtschule &rarr; Berufskolleg</strong>\n        </p>\n      </td>\n    </tr>\n\n    <!-- STATISTIK-BOX -->\n    <tr>\n      <td style=\"padding: 0 40px 20px 40px;\">\n        <table width=\"100%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\">\n          <tr>\n            <td width=\"33%\" style=\"padding: 5px;\">\n              <table width=\"100%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" style=\"background-color: #F9F9F9; border-left: 4px solid #575756;\">\n                <tr>\n                  <td style=\"padding: 15px;\">\n                    <p style=\"margin: 0 0 5px 0; font-size: 11px; font-weight: 700; color: #575756; text-transform: uppercase; font-family: Calibri, Arial, sans-serif;\">Gesamt</p>\n                    <p style=\"margin: 0; font-size: 28px; font-weight: 700; color: #333333; font-family: Calibri, Arial, sans-serif;\">${statistik.gesamt}</p>\n                  </td>\n                </tr>\n              </table>\n            </td>\n            <td width=\"33%\" style=\"padding: 5px;\">\n              <table width=\"100%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" style=\"background-color: #F9F9F9; border-left: 4px solid #6BAA24;\">\n                <tr>\n                  <td style=\"padding: 15px;\">\n                    <p style=\"margin: 0 0 5px 0; font-size: 11px; font-weight: 700; color: #6BAA24; text-transform: uppercase; font-family: Calibri, Arial, sans-serif;\">&Uuml;berlast (+0,5h)</p>\n                    <p style=\"margin: 0; font-size: 28px; font-weight: 700; color: #6BAA24; font-family: Calibri, Arial, sans-serif;\">${statistik.ueberlast}</p>\n                  </td>\n                </tr>\n              </table>\n            </td>\n            <td width=\"33%\" style=\"padding: 5px;\">\n              <table width=\"100%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" style=\"background-color: #F9F9F9; border-left: 4px solid #E2001A;\">\n                <tr>\n                  <td style=\"padding: 15px;\">\n                    <p style=\"margin: 0 0 5px 0; font-size: 11px; font-weight: 700; color: #E2001A; text-transform: uppercase; font-family: Calibri, Arial, sans-serif;\">Unterlast (-0,5h)</p>\n                    <p style=\"margin: 0; font-size: 28px; font-weight: 700; color: #E2001A; font-family: Calibri, Arial, sans-serif;\">${statistik.unterlast}</p>\n                  </td>\n                </tr>\n              </table>\n            </td>\n          </tr>\n        </table>\n      </td>\n    </tr>\n\n    <!-- LEGENDE -->\n    <tr>\n      <td style=\"padding: 0 40px 20px 40px;\">\n        <table width=\"100%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" style=\"background-color: #F9F9F9; border-left: 4px solid #575756;\">\n          <tr>\n            <td style=\"padding: 15px;\">\n              <p style=\"margin: 0 0 8px 0; font-size: 12px; font-weight: 700; color: #575756; text-transform: uppercase; letter-spacing: 1px; font-family: Calibri, Arial, sans-serif;\">Legende</p>\n              <p style=\"font-size: 12px; line-height: 1.6; color: #666666; margin: 0; font-family: Calibri, Arial, sans-serif;\">\n                <span style=\"color: #6BAA24; font-weight: 700;\">&#9632;</span> <strong>GES</strong> = Gesamtschule &nbsp;&nbsp;|&nbsp;&nbsp;\n                <span style=\"color: #FBC900; font-weight: 700;\">&#9632;</span> <strong>GYM</strong> = Gymnasium &nbsp;&nbsp;|&nbsp;&nbsp;\n                <span style=\"color: #5C82A5; font-weight: 700;\">&#9632;</span> <strong>BK</strong> = Berufskolleg<br>\n                <span style=\"font-size: 11px; color: #999999;\">PN = Personalnummer | OwnSchool 2 = Gymnasium-Stammschule</span>\n              </p>\n            </td>\n          </tr>\n        </table>\n      </td>\n    </tr>\n\n    <!-- TABELLE -->\n    <tr>\n      <td style=\"padding: 0 40px 40px 40px;\">\n        <table width=\"100%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" style=\"width: 100%;\">\n          <thead>\n            <tr>\n              <th style=\"padding: 10px 15px; text-align: left; font-size: 11px; text-transform: uppercase; letter-spacing: 1px; color: #575756; border-bottom: 2px solid #575756; font-family: Calibri, Arial, sans-serif;\">Name</th>\n              <th style=\"padding: 10px 15px; text-align: center; font-size: 11px; text-transform: uppercase; letter-spacing: 1px; color: #575756; border-bottom: 2px solid #575756; font-family: Calibri, Arial, sans-serif;\">K&uuml;rzel</th>\n              <th style=\"padding: 10px 15px; text-align: center; font-size: 11px; text-transform: uppercase; letter-spacing: 1px; color: #575756; border-bottom: 2px solid #575756; font-family: Calibri, Arial, sans-serif;\">Alt</th>\n              <th style=\"padding: 10px 15px; text-align: center; font-size: 11px; text-transform: uppercase; letter-spacing: 1px; color: #575756; border-bottom: 2px solid #575756; font-family: Calibri, Arial, sans-serif;\">Neu</th>\n              <th style=\"padding: 10px 15px; text-align: center; font-size: 11px; text-transform: uppercase; letter-spacing: 1px; color: #575756; border-bottom: 2px solid #575756; font-family: Calibri, Arial, sans-serif;\">Diff</th>\n              <th style=\"padding: 10px 15px; text-align: center; font-size: 11px; text-transform: uppercase; letter-spacing: 1px; color: #6BAA24; border-bottom: 2px solid #575756; font-family: Calibri, Arial, sans-serif;\">&#9632; GES</th>\n              <th style=\"padding: 10px 15px; text-align: center; font-size: 11px; text-transform: uppercase; letter-spacing: 1px; color: #FBC900; border-bottom: 2px solid #575756; font-family: Calibri, Arial, sans-serif;\">&#9632; GYM</th>\n              <th style=\"padding: 10px 15px; text-align: center; font-size: 11px; text-transform: uppercase; letter-spacing: 1px; color: #5C82A5; border-bottom: 2px solid #575756; font-family: Calibri, Arial, sans-serif;\">&#9632; BK</th>\n              <th style=\"padding: 10px 15px; text-align: left; font-size: 11px; text-transform: uppercase; letter-spacing: 1px; color: #575756; border-bottom: 2px solid #575756; font-family: Calibri, Arial, sans-serif;\">Details</th>\n              <th style=\"padding: 10px 15px; text-align: right; font-size: 11px; text-transform: uppercase; letter-spacing: 1px; color: #575756; border-bottom: 2px solid #575756; font-family: Calibri, Arial, sans-serif;\">Status</th>\n            </tr>\n          </thead>\n          <tbody>\n            ${tableRows}\n          </tbody>\n        </table>\n      </td>\n    </tr>\n\n    <!-- FOOTER -->\n    <tr>\n      <td style=\"padding: 30px 40px; background-color: #F2F2F2; border-top: 1px solid #e0e0e0;\">\n        <p style=\"font-size: 12px; line-height: 1.6; color: #999999; margin: 0 0 10px 0; font-family: Calibri, Arial, sans-serif;\">\n          Diese E-Mail wurde automatisch vom <strong>Deputat-&Auml;nderungsmonitor</strong> generiert.<br>\n          Daten gelten f&uuml;r: <strong>${termZeitraum}</strong><br>\n          Bei Fragen wenden Sie sich bitte an die IT-Abteilung.\n        </p>\n        <table width=\"100%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" style=\"margin-top: 15px; padding-top: 15px; border-top: 1px solid #dddddd;\">\n          <tr>\n            <td style=\"vertical-align: middle;\">\n              <p style=\"font-size: 11px; color: #999999; margin: 0; line-height: 1.4; font-family: Calibri, Arial, sans-serif;\">\n                <strong>CREDO Verwaltung</strong> &middot; Christlicher Schulverein Minden e.V.<br>\n                lebensnah &middot; wegweisend &middot; christlich\n              </p>\n            </td>\n            <td style=\"text-align: right; vertical-align: middle;\">\n              <!-- CREDO Linie -->\n              <table border=\"0\" cellspacing=\"0\" cellpadding=\"0\" align=\"right\">\n                <tr>\n                  <td style=\"font-size: 10px; font-weight: 700; color: #575756; letter-spacing: 1px; padding-right: 10px; font-family: Calibri, Arial, sans-serif;\">CREDO</td>\n                  <td style=\"width: 60px; height: 4px; background-color: #575756; font-size: 1px;\">&nbsp;</td>\n                  <td style=\"width: 15px; height: 4px; background-color: #FBC900; font-size: 1px;\">&nbsp;</td>\n                  <td style=\"width: 15px; height: 4px; background-color: #6BAA24; font-size: 1px;\">&nbsp;</td>\n                  <td style=\"width: 15px; height: 4px; background-color: #E2001A; font-size: 1px;\">&nbsp;</td>\n                  <td style=\"width: 15px; height: 4px; background-color: #009AC6; font-size: 1px;\">&nbsp;</td>\n                </tr>\n              </table>\n            </td>\n          </tr>\n        </table>\n      </td>\n    </tr>\n\n        </table>\n      </td>\n    </tr>\n  </table>\n</body>\n</html>\n`;\n\n// ========================================================================\n// RÜCKGABE MIT ERWEITERTEM SUBJECT\n// ========================================================================\nreturn {\n  subject: `Deputat-Änderungen: ${aenderungen.length} Lehrkräfte | ${statistik.ueberlast} Überlast, ${statistik.unterlast} Unterlast [${dateFrom}-${dateTo}]`,\n  html: html,\n  anzahlAenderungen: aenderungen.length,\n  anzahlProSchulform: Object.fromEntries(\n    Object.entries(gruppiert).map(([k, v]) => [k, v.length])\n  ),\n  termInfo: termInfo\n};"
      },
      "id": "ac49241e-e371-4b01-94c1-fcfb7e46381f",
      "name": "E-Mail erstellen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        -128
      ]
    },
    {
      "parameters": {},
      "id": "20f78bb5-18b1-4e54-9adb-ff590dee6c33",
      "name": "Pfade zusammenführen",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        352,
        96
      ],
      "notes": "APPEND Mode: Führt TRUE und FALSE Pfade zusammen"
    },
    {
      "parameters": {
        "toRecipients": "CREDO-Personal-intern@fes-credo.de",
        "subject": "=#220 {{ $json.subject }}",
        "bodyContent": "={{ $json.html }}",
        "additionalFields": {
          "ccRecipients": "bernhard.suckau@fes-minden.de",
          "bodyContentType": "html"
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        656,
        -128
      ],
      "id": "37d6590c-f610-44ed-b069-6db1aa984429",
      "name": "Send a message",
      "webhookId": "decdf4e4-3285-4424-85a1-6220cce88e1c",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "FCU8Wm3Is8PCPAHT",
          "name": "n8n@fes-minden.de"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ========================================================================\n// DATEN FÜR DATENBANK VORBEREITEN (mit neuen Feldern)\n// ========================================================================\n// Datum: 15.01.2026\n// Zweck: Wandelt die Daten für den PostgreSQL INSERT um\n// Neue Felder: personalnummer, stammschule\n// ========================================================================\n\n// Wir holen die Daten aus dem Vergleichs-Node\nconst inputData = $('Vergleich durchführen').first().json;\nconst snapshotDatum = inputData.datum;\nconst alleDaten = inputData.alleDaten || [];\n\n// Wir wandeln das Array 'alleDaten' in einzelne Items um,\n// damit der Postgres-Node sie Zeile für Zeile (oder als Batch) verarbeiten kann.\n// Zusätzlich fügen wir das Datum zu jedem Eintrag hinzu.\n\nreturn alleDaten.map(teacher => {\n  return {\n    json: {\n      snapshot_datum: snapshotDatum,\n      teacher_id: teacher.teacher_id,\n      schoolyear_id: teacher.schoolyear_id,\n      term_id: teacher.term_id,\n      name: teacher.name,\n      personalnummer: teacher.personalnummer || null,\n      stammschule: teacher.stammschule || null,\n      vollname: teacher.vollname,\n      deputat: teacher.deputat,\n      deputat_ges: teacher.deputat_ges,\n      deputat_gym: teacher.deputat_gym,\n      deputat_bk: teacher.deputat_bk,\n      schuljahr_text: teacher.schuljahr_text\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        96
      ],
      "id": "c2f26d6a-f648-4274-bbde-94dc6c2de1fd",
      "name": "Daten für DB vorbereiten"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "deputat_snapshot",
          "mode": "list",
          "cachedResultName": "deputat_snapshot"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "snapshot_datum",
            "teacher_id",
            "schoolyear_id",
            "term_id"
          ],
          "schema": [
            {
              "id": "snapshot_datum",
              "displayName": "snapshot_datum",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "date",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "teacher_id",
              "displayName": "teacher_id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "integer",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "schoolyear_id",
              "displayName": "schoolyear_id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "integer",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "term_id",
              "displayName": "term_id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "integer",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "personalnummer",
              "displayName": "personalnummer",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "stammschule",
              "displayName": "stammschule",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "vollname",
              "displayName": "vollname",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "deputat",
              "displayName": "deputat",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "numeric",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "deputat_ges",
              "displayName": "deputat_ges",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "numeric",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "deputat_gym",
              "displayName": "deputat_gym",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "numeric",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "deputat_bk",
              "displayName": "deputat_bk",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "numeric",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "schuljahr_text",
              "displayName": "schuljahr_text",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "69a0f405-a240-48cc-9ded-bf44673bcbea",
      "name": "Snapshot speichern",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        864,
        96
      ],
      "credentials": {
        "postgres": {
          "id": "jO46ywmgdxPpgZfG",
          "name": "deputat_änderung"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Täglich 7:00 Uhr": {
      "main": [
        [
          {
            "node": "Untis Daten laden",
            "type": "main",
            "index": 0
          },
          {
            "node": "Letzter Snapshot laden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Untis Daten laden": {
      "main": [
        [
          {
            "node": "Daten zusammenführen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Letzter Snapshot laden": {
      "main": [
        [
          {
            "node": "Daten zusammenführen",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Daten zusammenführen": {
      "main": [
        [
          {
            "node": "Vergleich durchführen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vergleich durchführen": {
      "main": [
        [
          {
            "node": "Änderungen vorhanden?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Änderungen vorhanden?": {
      "main": [
        [
          {
            "node": "E-Mail erstellen",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pfade zusammenführen",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Pfade zusammenführen": {
      "main": [
        [
          {
            "node": "Daten für DB vorbereiten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "E-Mail erstellen": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Pfade zusammenführen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daten für DB vorbereiten": {
      "main": [
        [
          {
            "node": "Snapshot speichern",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "callerPolicy": "any",
    "availableInMCP": false,
    "errorWorkflow": "UBadcLmQWUlnrAoE",
    "timeSavedPerExecution": 45
  },
  "versionId": "07c616e6-8abb-42b2-b176-2d152002796a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e75075e486e4192f33767e43908272d82e28a9ce2d672c3bbdb16c0d4494ec39"
  },
  "id": "dvE2MaWDbSt2Ho7o",
  "tags": [
    {
      "updatedAt": "2026-01-14T15:33:43.171Z",
      "createdAt": "2026-01-14T15:33:43.171Z",
      "id": "4qprOIUXRIw77bj9",
      "name": "Deputat"
    },
    {
      "updatedAt": "2026-01-14T15:33:43.186Z",
      "createdAt": "2026-01-14T15:33:43.186Z",
      "id": "h0OatzuCg8XFVYuG",
      "name": "Controlling"
    },
    {
      "updatedAt": "2024-11-04T16:55:16.579Z",
      "createdAt": "2024-11-04T16:55:16.579Z",
      "id": "SqCqoGMqm7pwfJeP",
      "name": "Personal"
    }
  ]
}